<div class="blog-head-presentation">
  <ng-container [ngTemplateOutlet]="blogHeadPresentationTemplate"></ng-container>
</div>

<ng-template #blogHeadPresentationTemplate>
  <div class="information">
    <div class="row">
      <div class="col-lg-5">
        <img class="rounded-circle" src="{{imgDogPath}}">
      </div>
      <div class="col-lg-7">
        <h1>Seu nome</h1>
        <p>Coloque aqui sua biografia de forma resumida, Coloque aqui sua biografia de forma resumida Coloque aqui sua
          biografia de forma resumida Coloque aqui sua biografia de forma resumida Coloque aqui sua biografia de forma
          resumida Coloque aqui sua biografia de forma resumida</p>
      </div>
    </div>
  </div>
</ng-template>
